<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./styles/index.css" />
    <title>Claps | Template Builder</title>
  </head>
  <body>
    <h1>Template Construtor</h1>
    <select name="parceiros" id="select-parceiros">
      <option value="">Não Informar</option>
    </select>

    <select name="templates" id="select-templates">
      <option value="">Não Informar</option>
    </select>

    <iframe
      class="template-view"
      id="iframe-template-view"
      frameborder="0"
    ></iframe>
    <script type="module" src="./scripts/index.js"></script>
  </body>
</html>
